@import "../colors";

@mixin input(
  $borderWeight: 2px,
  $borderStyle: solid,
  // $borderColor: $input-border-color
  $borderColor: #c7c8c9,
  $borderRadius: 5px,
) {
  border: $borderWeight $borderStyle $borderColor ;
  height: 42px;
  border-radius: $borderRadius !important;
  @content;
  &:hover {
    border: solid 2px #5d38db !important;
  }
  &:active {
    border: solid 2px #5d38db !important;
  }
  &:focus {
    border: solid 2px #5d38db !important;
  }
}
