.button {
  border: none !important;
  border-radius: 5px !important;
  color: white !important;
  background-color: #5d38db !important;
  height: 42px !important;

  &:hover {
    background-color: #7858da !important;
  }
  &:active {
    background-color: #e8e1fe !important;
  }
  &:default {
    background-color: #5d38db !important;
  }
  &:focus {
    background-color: #7858da !important;
  }
  &:disabled {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: rgba(0, 0, 0, 0.25) !important;
  }
}
